__pycache__/
*.pyc
*.egg-info/
dist/
build/
.eggs/
*.db
cspm_report_*.json
cspm_report_*.html
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
localstack_data/
.ruff_cache/
.pytest_cache/
.venv/
venv/
